<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls Index</title>
    {% load static %}
</head>
<body>
    <div>
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>没有问题投票。</p>
        {% endif %}
    </div>
    <script src="{% static 'polls/abc.js' %}"></script>
</body>
</html>